div.row {
    margin: 1px;
    background: rgba(255, 255, 255, 0.5);
}

div[class*="exercise_"]{
    margin: 3px 0px 0px 3px;
    background: #78909c;
}

div.bench {
    background: #4caf50;
}

div.squat {
    background: #f44336;
}

div.deadlift {
    background: #2196f3;
}

div.exercise {
    left: 100;
    top: 0;
    width: 100%;
    z-index: 9999;
}

div.macro {
    border-color: red;
    width: 298px;
}

div.meso {
    border-color: blue;
    width: 294px;
}

div.micro {
    border-color: green;
    width: 290px;
}

/*
div.exercise {
    float: left;
    position: absolute;
    
    margin: 1px;
    border-color: red;
    width: 280px;
}

div.exercise_set {

}

div.set {
    display: block;
    
    margin: 1px;
    background: rgb(255, 200, 200, 0.5);
    text-align: right;
    width: 282px;
}
*/
#squat {
    background: rgb(255, 200, 200);
}

body {
    font-family: Abel;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    margin: 0px;
}
