div.row {
    margin: 2px;
    background: rgba(255, 255, 255, 0.5);
}

div.exercise {
    margin: 3px 0px 0px 0px;
    background: darkgrey;
}

div.exercise_top {
    background: darkgrey;
}

div#bench.exercise_top {
    background: #4caf50;
}

div#squat.exercise_top {
    background: #f44336;
}

div#deadlift.exercise_top {
    background: #2196f3;
}

div.set {
    background: lightgrey;
}

body {
    font-family: Abel;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    margin: 0px;
}
